		body {
		background-color: #EEE;
		}
		#container{
			width: 850px;
			margin-left: auto;
			margin-right: auto;
			padding: 10px;
		}
		#header{
			background-color: #264475;
			color: white;
			text-align: left;
			padding: 5px;
			padding-left: 20px;
		}
		
		#navigation {
			width: 120px;
			float: left;
		}
		
		#main {
			padding-top: 5px;
			width: 660px;
			float: right;
		}
		#footer {
			clear: both;
			text-align: right;
			background-color: #264475;
			color: white; 
		}
		p {
			font-size: 20px;
		}
		ol {
			
			font-size: 18px;
		}
		
		ul {
			 
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 200px;
			background-color: #f1f1f1;
		}
		ul.movielist {
			width: auto;
			font-size: 20px;
			list-style-type: square;
		}
		td, th {
			
			border: 1px solid black;
			padding: 4px;
			
		}
		table {
			border-collapse: collapse;
		}
		th {
			background-color: black;
			color: white;
		}
		a:link {
			text-decoration: none;
		}
		a:visited {
			text-decoration: none;
			color: green;
		}
		a:hover {
			text-decoration: underline;
		}
		a:active {
			text-decoration: underline;
		}
		#navigation li a {
			display: block;
			color: blue;
			padding: 8px 16px;
			text-decoration: none;
		}
		#navigation li a:hover {
			background-color: #555;
			color: white;
		}
		#navigation li a:visited {
			text-decoration: none;
			color: green;
		}
		.outerlist {
			font-size: 20px;
		}
		.innerlist1 {
			font-size: 20px;
		}
		.innerlist2 {
			font-size: 20px;
		}
		.innerlist3 {
			font-size: 20px;
		}
		
		